*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  width: 80%;
  max-width: 2400px;
  margin: 20px auto;
  padding-bottom: 30px;
}

.display-photo{
  position: relative;

}

.display-photo img{
  height: 924px;
  width: 640px;
}

.first-photo{
  display: inline-block;
  
}

.second-photo{
  display: none;
}

.display-photo:hover .second-photo{
  display: inline-block;
  cursor: pointer;
}
.display-photo:hover .first-photo{
display: none;
cursor: pointer;
}


.hearts{
  height: 60px;
  width: 60px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
}

.discount{
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.sostenibilità{
  background-color: green;
  color: white;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 90px;
}

.red{
  color: red;
}

.sostenibilità2{
  background-color: green;
  color: white;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left:0;
}

.third{
  height: 924px;
  width: 640px;
}

.line{
  text-decoration: line-through;
}